@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    background: #1e3a3a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d45cc4, #77146a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9e3b91, #421477); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    min-height: 100vh;
  }
}
